@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: pink; */
    padding: 0;
    font-family: 'Source sans pro';
    color: #0000008c;
    margin: 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}

.topo .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    min-height: 60px;
    margin: 0 auto;
}

.topo {
    background-color: aqua;
    /* width: 100vw; */
    position: relative;
    max-width: 100%
}

.topo img {
    height: 70px;
}

.links-topo a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    /* margin-left: 45px; */
    font-weight: 600;
    margin-left: 30px;
    /* padding: 20px; */
}

.links-topo {
    flex-wrap: wrap;
    flex-grow: 1;
    /* width: 40%; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.links-topo a:hover {
    color: black;
}

.background {
    position: relative;
    background-image: url("/img/recepcao.png");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo-container {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.background div h1{
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    font-size: 28px;
    color: #fff;

}

.sobre {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 1024px; */
    margin-top: 30px;
    /* flex-wrap: wrap; */
    overflow-x: hidden;
}

.sub2 img {
    height: 300px;
    margin-right: 30px;
}

.sub2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub2 div  h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.sub2 div ul {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.sub2 {
    display: flex;
    margin-top: 30px;
}

.sub1 h2 {
    text-align: center;
}

.sub1 p {
    text-align: center;
}


.horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}

.sub1 h3 {
    text-align: center;
    margin-bottom: 30px;
}

.galeria {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.galeria figure img {
    height: 180px;
}

.galeria figure {
    margin: 30px;
    box-shadow: 10px 10px 20px -10px #0000008c;
}

.galeria figure figcaption {
    padding: 10px;
    text-align: center;
}

.btn {
    background-color: aqua;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.contato p span {
    font-weight: bold;
}

.margin {
    margin: 10px;
}

.contato iframe {
    width: 100%;
}


footer {
    background-color:rgb(48, 66, 14);
    color: #fff;
    padding: 20px;
}

footer .container {
    text-align: center;
}

.container-footer img {
    height: 70px;
    width: 100px;
}

.container-footer p {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .background {
        height: 400px;
    }

}

@media (max-width: 768px) {
    .background {
        height: 300px;
    }

    .medico {
        display: none;
    }

}

@media (max-width: 425px) {
    .topo .container {
        flex-direction: column;
    }

    .topo .container img {
        border-bottom: 1px solid gray;
    }

    .links-topo {
        margin-top: 10px;
    }

    .background {
        height: 200px;
    }

    .medico {
        display: none;
    }
}

